<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
    <title>Profite</title>
</head>
<body onload="get_pag_1()">
    <header>
        <div id="logo">
            <img class="logo-icon" src="{{ url_for('static', filename='img/logo.png') }}">
        </div>
        
        <div id="busca">
            O que você está procurando?
            <img class="lupa-icon" src="{{ url_for('static', filename='img/lupa.png') }}">
        </div>
            
        <div id="conta">
            <img class="conta-icon" src="{{ url_for('static', filename='img/conta.png') }}"> Minha Conta
        </div>

        <div id="carrinho">
            <img class="carrinho-icon" src="{{ url_for('static', filename='img/carrinho.png') }}">
        </div>
        
        <div id="linguas">
            <img class="bandeira" src="{{ url_for('static', filename='img/bandeira_brasil.png') }}">
            <img class="bandeira" src="{{ url_for('static', filename='img/bandeira_espanha.png') }}">
            <img class="bandeira" src="{{ url_for('static', filename='img/bandeira_inglaterra.png') }}">
        </div>
    </header>
    
    <div id="banner-area">
        <div id="banner1">
            Nossa especialidade:
            experiência de compra.
        </div>
        <div id="banner2">
        </div>
    </div>
    <div id="prateleira">
        <p id="prateleira-titulo">Produtos</p>
        <div id="produtos-area">
            
            
            
        </div>
    </div>
    <footer>
        <p id="local-titulo">Localização</p>
        
        <div id="localizacao-area">
            <div class="localizacao">
                <p class="cidade-titulo">São Paulo </p>
                <p>Rua do Rócio, 423/1801</p> 
                <p>Vila Olímpia - SP</p> 
                <p>04552-000</p> 
                <p>+55 11 3333 3333</p>
            </div>
            
            <div class="localizacao">
                <p class="cidade-titulo">Rio de Janeiro</p> 
                <p>Vol. da Pátria, 301/702</p> 
                <p>Botafogo - RJ</p> 
                <p>22270-000</p> 
                <p>+55 21 3333 3333</p>
            </div>
        </div>
        
        <div id="buttons-area">
            <img class="button" src="{{ url_for('static', filename='img/entre-contato.png') }}">
            <img class="button" src="{{ url_for('static', filename='img/consultor-button.png') }}">
        </div>

        <div id="logos-footer">
            <img class="logos" src="{{ url_for('static', filename='img/logos-footer.png') }}">
        </div>
        
    </footer> 
</body>
<script>
    function get_pag_1() {
            let xhr = new XMLHttpRequest();
            xhr.open("GET", "/pag-1");
            xhr.send(null);
            xhr.onreadystatechange = function() {
                if(xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("produtos-area").innerHTML = xhr.response;
                }
            }
            return false;
    }

    function get_pag_2() {
            let xhr = new XMLHttpRequest();
            xhr.open("GET", "/pag-2");
            xhr.send(null);
            xhr.onreadystatechange = function() {
                if(xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("produtos-area").innerHTML = xhr.response;
                }
            }
            return false;
    }
</script>
</html>