<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
    <title>Profite</title>
</head>
<body>
    <header>
        <div id="logo">
            <img class="logo-icon" src="{{ url_for('static', filename='img/logo.png') }}">
        </div>
        
        <div id="busca">
            O que você está procurando?
            <img class="lupa-icon" src="{{ url_for('static', filename='img/lupa.png') }}">
        </div>
            
        <div id="conta">
            <img class="conta-icon" src="{{ url_for('static', filename='img/conta.png') }}"> Minha Conta
        </div>

        <div id="carrinho">
            <img class="carrinho-icon" src="{{ url_for('static', filename='img/carrinho.png') }}">
        </div>
        
        <div id="linguas">
            <img class="bandeira" src="{{ url_for('static', filename='img/bandeira_brasil.png') }}">
            <img class="bandeira" src="{{ url_for('static', filename='img/bandeira_espanha.png') }}">
            <img class="bandeira" src="{{ url_for('static', filename='img/bandeira_inglaterra.png') }}">
        </div>
    </header>
    
    <div id="banner-area">
        <div id="banner1">
            Nossa especialidade: experiência de compra.
        </div>
        <div id="banner2">

        </div>
    </div>
    <div id="prateleira">

    </div>
    <footer>
        <p>Localização</p>
        <div id="localizacao1">
            São Paulo Rua do Rócio, 423/1801 Vila Olímpia - SP 04552-000 +55 11 3333 3333
        </div>
        <div id="localizacao2">
            Rio de Janeiro Vol. da Pátria, 301/702 Botafogo - RJ 22270-000 +55 21 3333 3333
        </div>
    </footer>
    
</body>
</html>