@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@media screen and (min-width: 360px){
    
    /* Header */

    body {
        background-color: #FFFFFF;
        margin: 0;
    }

    header {
        display: grid;
        grid-template-areas: "logo busca conta carrinho linguas";
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-template-columns: 300px 400px 250px 50px 100px;
        width: 1920px;
        height: 80px;
    }
    
    #logo {
        display: flex;
        justify-content: center;
        grid-area: logo;
    }

    #busca {
        display: flex;
        justify-content: space-between;
        grid-area: busca;
        border-color: black;
        border-bottom: 2px solid;
        height: 25px;
        font-family: Ubuntu;
        color:#7A7A7A;
    }

    #conta {
        display: flex;
        justify-content: right;
        grid-area: conta;
        font-family: Ubuntu;
        color:#7A7A7A;
    }

    #carrinho {
        display: flex;
        justify-content: center;
        grid-area: carrinho;
        border-color:#7A7A7A;
        border-right: 2px solid;
    }
    
    #linguas {
        display: flex;
        justify-content: space-around;
        grid-area: linguas;
    }

    .logo-icon{
        width: 107px;
        height: 30px;
    }

    .carrinho-icon {
        width: 18.13px;
        height: 18px;
    }
    
    .bandeira {
        width: 25.2px;
        height: 18px;
    }

    .conta-icon {
        width: 18px;
        height: 18px;
    }

    .lupa-icon {
        width: 18px;
        height: 18px;
    }

    /* Banner */

    #banner-area {
        display: flex;
        flex-direction: row;
    }
    
    #banner1 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #011627;
        width: 960px;
        height: 430px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 52px;
        color: #FFFFFF;
        padding-right: 15px;
    }

    #banner2 {
        background-image: url("../img/imagem_fundo.jpeg");
        width: 960px;
        height: 430px;
    }
    
    /* Footer */

    footer {
        display: grid;
        grid-template-areas: "titulo titulo titulo"
                             "localizacao buttons logos";
        grid-template-columns: auto auto auto;
        background-color: #011627;
        padding: 15px;
        margin-top: 20px;
    }

    footer p {
        color: #FFFFFF;
        font-family: Ubuntu;
    }

    #local-titulo {
        grid-area: titulo;
        font-size: larger;
        font-weight: bold;
    }

    #localizacao-area {
        grid-area: localizacao;
        display: flex;
        flex-direction: row;
    }

    .localizacao {
        margin-right: 80px;
    }

    .cidade-titulo {
        font-size: large;
        font-weight: bold;
    }

    #buttons-area {
        grid-area: buttons;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .button {
        width: 195px;
        height: 38px;
    }

    #logos-footer {
        display: flex;
        align-items: end;
        grid-area: logos;
        margin-bottom: 20px;
    }

    .logos {
        width: 134px;
        height: 35px;
    }
}